.popularAuthor section ul li{
    line-height: 1em;
    text-align-last: center;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: rgb(153, 153, 153);
}
.popularAuthor section ul li img{
    height: 8em;
    width: 9em;
}
.popularAuthor section ul li p{
    font-size: .5em;
    font-weight: bold;
}
.popularAuthor section ul li button{
    margin-top: .5em;
    height: 1.5em;
    width: 4em;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
}