@charset "UTF-8";
body,html{
    margin: 0;
    padding: 0;
}

nav{
    height: 3em;
    background-color: white;
    box-shadow: rgb(71, 71, 71) 0px 5px 5px;
}
nav .logo{
    float: left;
    margin-left: 2em;
    line-height: 3em;
}
nav .logo img{
    vertical-align:middle;
}
nav .logo span{
    color: #404C61;
    vertical-align:middle;
    border: solid;
    border-width: 0 0 2px 0;
    padding-bottom: .1em;
}
nav .tools{
    margin: 0;
    margin-right: 2em;
    height: 3em;
    width: 10em;
    float: right;
}
nav .tools li{
    line-height: 3em;
    list-style: none;
    margin: 0 0.5em;
    float: right;
}